{% extends "base.html" %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div class="flex my-3 gap-5">
        Приветсвую на бирже по торговле ценными бумагами!
    </div>
    <span>С помощью сайта Вы можете производить следующие операции:</span>
    <p><br>Выплата купонов, Удержание НДФЛ по купонам, Вывод денежных средств, Продажа ценных бумаг</br></p>
    {% for operation in operations %}
        <div class="flex rounded-3 border-2 p-3 mt-7">
            <img width="150" src="{{ url_for('static', path='stocks_1.png') }}" alt="Стонкс" class="mr-5">
            <div class="flex flex-col">
                <span class="text-2xl font-bold">{{ operation.type }}</span>

                <span class="text-lg">{{ operation.date }}</span>
                <span class="text-lg">{{ operation.quantity }}</span>
                <span class="text-lg">{{ operation.figi }}</span>         
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}